<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
<html>
<head>
	<h1 style="color: #3a41fc;text-align: center;"></h1>
	   
	<h2 style="color: pink;text-align: center">TASTE THE YUMMY</h2>

	<h3 style="text-align: center;color:lightskyblue; ">..........To chill the mood and heart...............</h3>
</head>
<style>
	p1{
		color: red;text-align: 30px;text-align: center;
		font: family: 'Times New Roman', Times, serif;font-size:xx-large;
	}
</style>
<body style="background-color: magenta;">
	
	<p1>Vanilla<hr>Chocolate<hr>Butterscotch<hr>Blackcurrent<hr>Fruitsalad<hr>Mango<hr>Coconut<hr></p1>

</body>
{%endblock%}
</html>