<!DOCTYPE html>
<html>
{% extends 'apps/index.html' %}
{% block body_block %}
{% load static %}

<head>
	<h1 style="color: #3a41fc;text-align: center;"></h1>
	
	<h3 style="text-align: center;color:lavenderblush; ">..........To chill the mood and heart...............</h3>
</head>
<body style="background-color: lightgoldenrodyellow;">
<center>
	<link rel="stylesheet" href="{%static 'style/style.css' %}">
    <img src="{%static '/image/black.jpg' %}">
	<img src="{%static '/image/butter.jpg' %}">
	<img src="{%static '/image/choco.jpg' %}">
	<img src="{%static '/image/fruitsalad.jpg' %}">
	<img src="{%static '/image/mango.jpg' %}">
	<img src="{%static '/image/vanila.jpg' %}">
</center>

</body>
{%endblock%}
</html>