body{
	background: white;
	color:white;
	text-align: center;

}
img{
	border: solid 5px;
	width:200%;
	height:100%;
	padding-bottom: auto;
	padding-right: auto ;
	padding-left: auto; 
	padding-top: auto;
}